<div class="flex flex-col flex-auto w-full">
    <div class="flex justify-between border-b pb-3">
        <h1 class="text-4xl font-extrabold tracking-tight leading-none">Pagos</h1>
        <button
            mat-icon-button
            aria-label="Regresar"
            (click)="back()"
            #tooltip="matTooltip"
            matTooltip="Regresar"
            [matTooltipPosition]="'below'"
        >
            <mat-icon svgIcon="heroicons_outline:arrow-left"></mat-icon>
        </button>
    </div>
    <!-- Content -->
    <div
        class="flex flex-auto overflow-hidden"
        *ngIf="selectedCredito$ | async as credito"
        fuseScrollbar
        [fuseScrollbarOptions]="{
            suppressScrollX: true
        }"
    >
        <mat-card class="mb-8 flex flex-auto">
            <div class="z-20 flex flex-col px-2 py-4 md:px-10 flex-auto gap-8">
                <div class="mt-8 z-20 grid grid-cols-2 gap-4 md:grid-cols-3">
                    <!-- Saldo -->
                    <div class="flex flex-col">
                        <div class="font-bold">Saldo al día de hoy:</div>
                        <div class="mt-2">{{ credito.saldo | decimalToNumber | currency: 'MXN':'symbol' }}</div>
                    </div>
                    <!-- Saldo Vencido -->
                    <div class="flex flex-col">
                        <div class="font-bold">Saldo Vencido/Pago Mínimo:</div>
                        <div class="mt-2">{{ credito.saldoVencido | decimalToNumber | currency: 'MXN':'symbol' }}</div>
                    </div>
                    <!-- Pago No Intereses -->
                    <div class="flex flex-col">
                        <div class="font-bold">Pago para no generar interés:</div>
                        <div class="mt-2">
                            {{
                                credito.pagoNoIntereses
                                    ? credito.pagoNoIntereses
                                    : (0 | decimalToNumber | currency: 'MXN':'symbol')
                            }}
                        </div>
                    </div>
                </div>
                <form [formGroup]="pagosForm" class="flex flex-col w-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-[35rem] self-center">
                        <!-- Monto -->
                        <div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Cantidad a Pagar</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:currency-dollar'"
                                    matPrefix
                                ></mat-icon>
                                <input
                                    [formControlName]="'monto'"
                                    matInput
                                    [inputMask]="currencyInputMask"
                                    type="text"
                                />
                            </mat-form-field>
                            <ng-container *ngIf="monto?.touched">
                                <mat-error *ngIf="monto?.errors?.['required']"> El monto es requerido. </mat-error>
                                <mat-error *ngIf="monto?.errors?.['min']">
                                    El monto del pago debe ser mayor a 0, verificar.
                                </mat-error>
                                <mat-error *ngIf="monto?.errors?.['max']">
                                    El monto del pago no debe ser mayor al saldo total, verificar.
                                </mat-error>
                            </ng-container>
                        </div>
                        <!-- Tipo de Pago -->
                        <div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Tipo de Pago</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_outline:currency-dollar'"
                                    matPrefix
                                ></mat-icon>
                                <mat-select [formControlName]="'tipoDePago'">
                                    <mat-option *ngFor="let tipo of tipoDePagoTemp | keyvalue" [value]="tipo.value">{{
                                        tipo.key
                                    }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <ng-container *ngIf="tipoDePago?.touched">
                                <mat-error *ngIf="tipoDePago?.errors?.['required']">
                                    El tipo de pago es requerido.
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex self-center max-w-[35rem] w-full">
                        <!-- Observaciones -->
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mt-4">
                            <mat-label>Observaciones</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_outline:clipboard-list'"
                                matPrefix
                            ></mat-icon>
                            <textarea [formControlName]="'observaciones'" matInput></textarea>
                        </mat-form-field>
                    </div>
                </form>
                <div class="flex flex-auto justify-center">
                    <button mat-stroked-button type="button" (click)="clearForm()">Cancelar</button>
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        [color]="'primary'"
                        [class.spinner-loading]="loading$ | async"
                        [disabled]="!monto?.touched || monto?.invalid"
                        (click)="savePago()"
                    >
                        Salvar
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
