<div class="flex flex-col flex-auto w-full">
    <div class="flex justify-between border-b pb-3">
        <h1 class="text-4xl font-extrabold tracking-tight leading-none">Pagos</h1>
        <button
            mat-icon-button
            aria-label="Regresar"
            (click)="back()"
            #tooltip="matTooltip"
            matTooltip="Regresar"
            [matTooltipPosition]="'below'"
        >
            <mat-icon svgIcon="heroicons_outline:arrow-left"></mat-icon>
        </button>
    </div>
    <!-- Content -->
    <div
        class="flex flex-auto overflow-hidden"
        *ngIf="selectedCredito$ | async as credito"
        fuseScrollbar
        [fuseScrollbarOptions]="{
            wheelPropagation: inner,
            suppressScrollX: true
        }"
    >
        <mat-card class="mb-8 flex flex-auto">
            <div class="z-20 flex flex-col px-2 py-4 md:px-10 flex-auto">
                <div class="mt-8 z-20 grid grid-cols-2 gap-4 md:grid-cols-3">
                    <!-- Saldo -->
                    <div class="flex flex-col">
                        <div class="font-bold">Saldo al día de hoy:</div>
                        <div class="mt-2">{{ credito.saldo | currency: 'MXN':'symbol' }}</div>
                    </div>
                    <!-- Saldo Vencido -->
                    <div class="flex flex-col">
                        <div class="font-bold">Saldo Vencido/Pago Mínimo:</div>
                        <div class="mt-2">{{ credito.saldoVencido | currency: 'MXN':'symbol' }}</div>
                    </div>
                    <!-- Pago No Intereses -->
                    <div class="flex flex-col">
                        <div class="font-bold">Pago para no generar interés:</div>
                        <div class="mt-2">{{ credito.pagoNoIntereses | currency: 'MXN':'symbol' }}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
