<ng-container
  *ngIf="{
    loading: loading$ | async,
    credito: selectedCredito$ | async
  } as data"
  ><div class="z-20 flex flex-col px-2 py-4 md:px-10">
    <div
      class="basis-120 overflow-hidden p-4"
      fuseScrollbar
      [fuseScrollbarOptions]="{
        suppressScrollX: true
      }">
      <div class="hidden md:mb-4 md:grid md:grid-cols-4">
        <span class="text-center font-bold">Numero de Pago</span><span class="text-center font-bold">Fecha de Pago</span
        ><span class="text-center font-bold">Monto</span><span class="text-center font-bold">Tipo de Pago</span>
      </div>
      <div
        class="min-h-8 mb-4 grid grid-cols-1 gap-3 border-b-2 pb-8 md:mb-0 md:grid-cols-4 md:pb-0"
        *ngFor="let pago of data.credito?.pagos; let i = index">
        <div class="grid grid-cols-2 md:grid-cols-1">
          <div class="font-bold md:hidden">Numero de Pago:</div>
          <div class="text-center">{{ i + 1 }}</div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-1">
          <div class="font-bold md:hidden">Fecha de Pago:</div>
          <div class="text-center">{{ pago.fechaDePago | date }}</div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-1">
          <div class="font-bold md:hidden">Monto:</div>
          <div class="text-center">
            {{ pago.monto | decimalToNumber | currency : 'MXN' : 'symbol' }}
          </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-1">
          <div class="font-bold md:hidden">Tipo de Pago:</div>
          <div class="text-center font-bold" [class.text-red-600]="pago.tipoDePago === 'MORA'">
            {{ pago.tipoDePago }}
          </div>
        </div>
      </div>
    </div>
    <div class="basis-30 flex flex-auto items-end gap-3">
      <button mat-flat-button type="button" [color]="'primary'" (click)="goToDetails()">Regresar</button>
    </div>
  </div></ng-container
>
