<div class="flex flex-col min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <div class="flex-auto">
        <!-- Header -->
        <div
            class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b"
        >
            <!-- Title -->
            <div>
                <div
                    class="text-4xl font-extrabold tracking-tight leading-none"
                >
                    Clientes
                </div>
                <div class="ml-0.5 font-medium text-secondary">
                    <!-- <ng-container *ngIf="contactsCount > 0">
                      {{contactsCount}}
                  </ng-container>
                  {{contactsCount | i18nPlural: {
                  '=0'   : 'No contacts',
                  '=1'   : 'contact',
                  'other': 'contacts'
              } }} -->
                </div>
            </div>

            <!-- Main actions -->
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex-auto">
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50"
                    >
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <input
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Buscar cliente'"
                        />
                    </mat-form-field>
                </div>
                <!-- Add contact button -->
                <button class="ml-4" mat-flat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Agregar</span>
                </button>
            </div>
        </div>
    </div>
</div>
