<div class="flex w-full flex-auto flex-col py-8 px-6">
  <div class="flex justify-between border-b pb-3">
    <h1 class="text-4xl font-extrabold leading-none tracking-tight">Nuevo Cliente</h1>
    <button
      mat-icon-button
      aria-label="Regresar"
      (click)="back()"
      #tooltip="matTooltip"
      matTooltip="Regresar"
      [matTooltipPosition]="'below'">
      <mat-icon svgIcon="heroicons_outline:arrow-left"></mat-icon>
    </button>
  </div>
  <ng-container *ngIf="loading$ | async; then loadingTemplate; else formTemplate"></ng-container>
  <ng-template #loadingTemplate>
    <div class="flex flex-auto flex-col self-center">
      <mat-spinner> </mat-spinner>
    </div>
  </ng-template>
  <ng-template #formTemplate>
    <ng-container *ngIf="config$ | async as config">
      <div class="flex flex-auto flex-col">
        <div class="w-full">
          <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="clienteForm">
              <!-- Form -->
              <form [formGroup]="clienteForm">
                <ng-template matStepLabel>Datos Generales</ng-template>
                <div class="mt-8 flex w-full flex-wrap gap-3">
                  <div class="grid w-full grid-cols-1 gap-3 md:grid-cols-5">
                    <!-- Apellido Paterno -->
                    <div>
                      <app-ui-input
                        label="Apellido Paterno"
                        icon="heroicons_solid:user"
                        [required]="true"
                        [formControlName]="'apellidoMaterno'"
                        [mask]="titleInputMask" />
                    </div>
                    <!-- Apellido Materno -->
                    <div>
                      <app-ui-input
                        label="Apellido Materno"
                        icon="heroicons_solid:user"
                        [required]="true"
                        [formControlName]="'apellidoPaterno'"
                        type="text"
                        [mask]="titleInputMask" />
                    </div>
                    <!-- Nombre -->
                    <div>
                      <app-ui-input
                        label="Nombre"
                        icon="heroicons_solid:user"
                        [required]="true"
                        [formControlName]="'nombre'"
                        [mask]="titleInputMask" />
                    </div>
                    <!-- Fecha de Nacimiento -->
                    <div>
                      <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <mat-icon
                          matPrefix
                          class="icon-size-5 hidden sm:flex"
                          [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <input
                          matInput
                          [matDatepicker]="birthdayDatepicker"
                          [formControlName]="'fechaDeNacimiento'"
                          [placeholder]="'Fecha de Nacimiento'" />
                        <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"> </mat-datepicker-toggle>
                        <mat-datepicker #birthdayDatepicker></mat-datepicker>
                      </mat-form-field>
                      <ng-container *ngIf="clienteForm.get('fechaDeNacimiento')?.touched">
                        <mat-error *ngIf="clienteForm.get('fechaDeNacimiento')?.errors?.['required']">
                          La fecha de nacimiento es requerida.
                        </mat-error>
                      </ng-container>
                    </div>
                    <!-- Genero -->
                    <div>
                      <app-ui-select
                        label="Genero"
                        icon="heroicons_outline:library"
                        [formControlName]="'genero'"
                        [placeholder]="'Genero'"
                        [options]="config.generos"
                        [valueProp]="'id'"
                        [labelProp]="'descripcion'"></app-ui-select>
                    </div>
                    <!-- Estado Civil -->
                    <div>
                      <app-ui-select
                        label="Estado Civil"
                        icon="heroicons_outline:library"
                        [formControlName]="'estadoCivil'"
                        [placeholder]="'Estado Civil'"
                        [options]="config.estadosCiviles"
                        [valueProp]="'id'"
                        [labelProp]="'descripcion'"></app-ui-select>
                    </div>
                    <!-- Tipo de Vivienda -->
                    <div>
                      <app-ui-select
                        label="Tipo de Vivienda"
                        icon="heroicons_outline:home"
                        [formControlName]="'tipoDeVivienda'"
                        [placeholder]="'Tipo de Vivienda'"
                        [options]="config.tiposDeVivienda"
                        [valueProp]="'id'"
                        [labelProp]="'descripcion'"></app-ui-select>
                    </div>
                    <!-- Escolaridad -->
                    <div>
                      <app-ui-select
                        label="Escolaridad"
                        icon="heroicons_outline:academic-cap"
                        [formControlName]="'escolaridad'"
                        [placeholder]="'Escolaridad'"
                        [options]="config.escolaridades"
                        [valueProp]="'id'"
                        [labelProp]="'descripcion'"></app-ui-select>
                    </div>
                    <!-- CURP -->
                    <div>
                      <app-ui-input
                        label="CURP"
                        icon="heroicons_outline:document-text"
                        [required]="true"
                        [formControlName]="'curp'"
                        [mask]="capsInputMAsk" />
                    </div>
                    <!-- RFC -->
                    <div>
                      <app-ui-input
                        label="RFC"
                        icon="heroicons_outline:document-text"
                        [required]="true"
                        [formControlName]="'rfc'"
                        [mask]="capsInputMAsk" />
                    </div>
                    <!-- Teléfono 1 -->
                    <div>
                      <app-ui-input
                        label="Teléfono 1"
                        icon="heroicons_solid:phone"
                        [required]="true"
                        [formControlName]="'telefono1'"
                        [type]="'tel'"
                        [mask]="phoneInputMask" />
                    </div>
                    <!-- Teléfono 2 -->
                    <div>
                      <app-ui-input
                        label="Teléfono 2"
                        icon="heroicons_solid:phone"
                        [formControlName]="'telefono2'"
                        [type]="'tel'"
                        [mask]="phoneInputMask" />
                    </div>
                  </div>
                  <h3 class="mt-4 w-full flex-auto text-3xl font-extrabold leading-none tracking-tight">Direcciones</h3>
                  <!-- Direcciones -->
                  <div class="flex w-full flex-col gap-3 space-y-4" formArrayName="direcciones">
                    <ng-container
                      *ngFor="
                        let direccion of direcciones.controls;
                        let i = index;
                        let first = first;
                        let last = last;
                        trackBy: trackByFn
                      "
                      [formGroupName]="i">
                      <div class="flex flex-row gap-10">
                        <div class="grid w-full grid-cols-2 gap-3 md:grid-cols-4">
                          <!-- Calle -->
                          <div>
                            <app-ui-input
                              label="Calle"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="calle"
                              [placeholder]="'Calle'"
                              [type]="'text'" />
                          </div>
                          <!-- Número -->
                          <div>
                            <app-ui-input
                              label="Número"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="numero"
                              [placeholder]="'Número'"
                              [type]="'text'" />
                          </div>
                          <!-- Cruzamientos -->
                          <div>
                            <app-ui-input
                              label="Cruzamientos"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="cruzamientos"
                              [placeholder]="'Cruzamientos'"
                              [type]="'text'" />
                          </div>
                          <!-- Código Postal -->
                          <div>
                            <app-ui-input
                              label="Código Postal"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="codigoPostal"
                              [placeholder]="'Código Postal'"
                              [type]="'number'"
                              (change)="getColonias(direccion.get('codigoPostal')?.value, i, 'CLIENTE')" />
                          </div>
                          <!-- Estado -->
                          <div>
                            <app-ui-input
                              label="Estado"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="estado"
                              [placeholder]="'Estado'"
                              [type]="'text'" />
                          </div>
                          <!-- Ciudad -->
                          <div>
                            <app-ui-input
                              label="Ciudad"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="ciudad"
                              [placeholder]="'Ciudad'"
                              [type]="'text'" />
                          </div>
                          <!-- Colonia -->
                          <div>
                            <app-ui-select
                              label="Colonia"
                              [showLabel]="first"
                              icon="heroicons_solid:location-marker"
                              [iconClasses]="'hidden sm:flex'"
                              formControlName="colonia"
                              [placeholder]="'Colonia'"
                              [options]="ubicacion[i] && ubicacion[i].ubicacion ? ubicacion[i].ubicacion.colonias : []"
                              [valueProp]="'id'"
                              [labelProp]="'descripcion'" />
                          </div>
                        </div>
                        <!-- Remover Dirección -->
                        <ng-container *ngIf="!(first && last)">
                          <button
                            class="min-h-8 h-8 w-8 self-center justify-self-center"
                            mat-icon-button
                            (click)="removeDireccionesField(i, direccion.get('id')?.value)"
                            matTooltip="Borrar"
                            [ngClass]="{ 'mt-6': first }">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                          </button>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="w-full flex-auto">
                    <div
                      class="group mt-2 -ml-4 inline-flex cursor-pointer items-center rounded py-2 px-4"
                      (click)="addDireccionesField()">
                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                      <span class="text-secondary ml-2 font-medium group-hover:underline">Agregar Dirección</span>
                    </div>
                  </div>
                  <button
                    class="ml-4"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    matStepperNext
                    [disabled]="editMode === 'new' && clienteForm.touched && clienteForm.invalid">
                    Siguiente
                  </button>
                  <button
                    *ngIf="editMode === 'edit'"
                    mat-flat-button
                    type="submit"
                    [color]="'primary'"
                    (click)="saveCliente()"
                    class="ml-2"
                    [disabled]="
                      editMode === 'edit' &&
                      ((!clienteForm.touched && !trabajoForm.touched) || clienteForm.invalid || trabajoForm.invalid)
                    ">
                    {{ 'Actualizar' }}
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="trabajoForm">
              <ng-template matStepContent>
                <!-- Form -->
                <form [formGroup]="trabajoForm">
                  <ng-template matStepLabel>Datos Laborales</ng-template>
                  <div class="mt-8 flex w-full flex-wrap gap-3">
                    <div class="md:max-w-5/6 grid w-full grid-cols-1 gap-3 md:grid-cols-4">
                      <!-- Nombre -->
                      <div>
                        <app-ui-input
                          label="Nombre"
                          icon="heroicons_solid:user"
                          [formControlName]="'nombre'"
                          [placeholder]="'Ciudad'"
                          [type]="'text'" />
                      </div>
                      <!-- Teléfono-->
                      <div>
                        <app-ui-input
                          label="Teléfono"
                          icon="heroicons_solid:phone"
                          [required]="true"
                          [formControlName]="'telefono'"
                          [type]="'tel'"
                          [mask]="phoneInputMask" />
                      </div>
                      <!-- Antiguedad-->
                      <div>
                        <app-ui-input
                          label="Antiguedad (Años)"
                          icon="heroicons_solid:clock"
                          [required]="true"
                          [formControlName]="'antiguedad'"
                          [type]="'tel'"
                          [mask]="yearsInputMask" />
                      </div>
                      <!-- Actividad Económica -->
                      <div>
                        <mat-form-field class="w-full" subscriptSizing="dynamic">
                          <mat-label>Actividad Económica</mat-label>
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:location-marker'"
                            matPrefix></mat-icon>
                          <mat-select
                            [formControlName]="'actividadEconomica'"
                            (selectionChange)="selectActividadEconomica(actividadEconomica.value)">
                            <mat-option
                              *ngFor="let actividadEconomica of config.actividadesEconomicas"
                              [value]="actividadEconomica.id"
                              >{{ actividadEconomica.descripcion }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                        <ng-container *ngIf="trabajoForm.get('actividadEconomica')?.touched">
                          <mat-error *ngIf="trabajoForm.get('actividadEconomica')?.errors?.['required']">
                            La actividad economica es requerida.
                          </mat-error>
                        </ng-container>
                      </div>
                    </div>
                    <h3 class="mt-4 w-full flex-auto text-3xl font-extrabold leading-none tracking-tight">Dirección</h3>
                    <!-- Dirección -->
                    <div
                      class="md:max-w-5/6 grid w-full grid-cols-2 gap-3 md:col-span-5 md:grid-cols-4"
                      formGroupName="direccion">
                      <!-- Calle -->
                      <div>
                        <app-ui-input
                          label="Calle"
                          icon="heroicons_solid:location-marker"
                          [iconClasses]="'hidden sm:flex'"
                          formControlName="calle"
                          [placeholder]="'Calle'"
                          [type]="'text'" />
                      </div>
                      <!-- Número -->
                      <div>
                        <app-ui-input
                          label="Número"
                          icon="heroicons_solid:location-marker"
                          [iconClasses]="'hidden sm:flex'"
                          formControlName="numero"
                          [placeholder]="'Número'"
                          [type]="'text'" />
                      </div>
                      <!-- Cruzamientos -->
                      <app-ui-input
                        label="Cruzamientos"
                        icon="heroicons_solid:location-marker"
                        [iconClasses]="'hidden sm:flex'"
                        formControlName="cruzamientos"
                        [placeholder]="'Cruzamientos'"
                        [type]="'text'" />
                      <!-- Código Postal -->
                      <app-ui-input
                        label="Código Postal"
                        icon="heroicons_solid:location-marker"
                        [iconClasses]="'hidden sm:flex'"
                        formControlName="codigoPostal"
                        [placeholder]="'Código Postal'"
                        [type]="'text'"
                        (change)="getColonias(cpTrabajo.value, 0, 'TRABAJO')" />
                      <!-- Estado -->
                      <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Estado</mat-label>
                        <mat-icon
                          matPrefix
                          class="icon-size-5 hidden sm:flex"
                          [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <input matInput formControlName="estado" [placeholder]="'Estado'" />
                      </mat-form-field>
                      <!-- Ciudad -->
                      <mat-form-field class="w-full" subscriptSizing="dynamic">
                        <mat-label>Ciudad</mat-label>
                        <mat-icon
                          matPrefix
                          class="icon-size-5 hidden sm:flex"
                          [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <input matInput formControlName="ciudad" [placeholder]="'Ciudad'" />
                      </mat-form-field>
                      <!-- Colonia -->
                      <div>
                        <mat-form-field class="w-full" subscriptSizing="dynamic">
                          <mat-label>Colonia</mat-label>
                          <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:location-marker'"
                            matPrefix></mat-icon>
                          <mat-select formControlName="colonia">
                            <mat-option
                              *ngFor="let colonia of ubicacionTrabajo?.ubicacion?.colonias"
                              [value]="colonia.id"
                              >{{ colonia.descripcion }}</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                        <ng-container *ngIf="trabajoForm.get('direccion')?.get('colonia')?.touched">
                          <mat-error
                            *ngIf="
                                                            trabajoForm.get('direccion')?.get('colonia')?.errors?.['required']
                                                        ">
                            La colonia es requerida.
                          </mat-error>
                        </ng-container>
                      </div>
                    </div>
                    <div class="mt-2 w-full flex-auto">
                      <button mat-stroked-button type="button" matStepperPrevious>Anterior</button>
                      <button
                        mat-flat-button
                        type="submit"
                        [color]="'primary'"
                        (click)="saveCliente()"
                        class="ml-2"
                        [class.spinner-loading]="loading"
                        [disabled]="
                          (editMode === 'new' && !trabajoForm.touched && trabajoForm.invalid) ||
                          (clienteForm.disabled && trabajoForm.disabled) ||
                          (editMode === 'edit' && (!clienteForm.touched || !trabajoForm.touched)) ||
                          clienteForm.invalid ||
                          trabajoForm.invalid
                        ">
                        {{ editMode === 'edit' ? 'Actualizar' : 'Guardar' }}
                      </button>
                    </div>
                  </div>
                </form>
              </ng-template>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
