<ng-container *ngIf="actions$">
  <div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <!-- Header -->
    <div class="flex flex-col justify-between border-b py-8 px-6 md:px-8">
      <!-- Title -->
      <div>
        <div class="text-4xl font-extrabold leading-none tracking-tight">Clientes</div>
        <div class="text-secondary ml-0.5 font-medium" *ngIf="clientesCount$ | async as clientes">
          <ng-container *ngIf="clientes > 0">
            {{ clientes | number }}
          </ng-container>
          {{
            clientes
              | i18nPlural
                : {
                    '=0': 'Sin clientes',
                    '=1': 'cliente',
                    other: 'clientes'
                  }
          }}
        </div>
      </div>

      <!-- Main actions -->
      <div class="mt-4 flex flex-auto flex-col items-center gap-4">
        <!-- Search -->
        <div class="w-full">
          <mat-form-field class="fuse-mat-dense min-w-50 w-full" subscriptSizing="dynamic">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input matInput [formControl]="searchInput" [autocomplete]="'off'" [placeholder]="'Buscar cliente'" />
          </mat-form-field>
        </div>
        <div class="grid grid-cols-1 items-center gap-4">
          <!-- Active or Innactive ones -->
          <mat-radio-group aria-labelledby="radio-group-label" class="grid grid-cols-2 gap-3" [(ngModel)]="active">
            <mat-radio-button *ngFor="let value of values" [value]="value">
              {{ value }}
            </mat-radio-button>
          </mat-radio-group>
          <!-- Add cliente button -->
          <button class="ml-4" mat-flat-button [color]="'primary'" (click)="newCliente()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Agregar</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Content -->
    <ng-container *ngIf="searchValueChanges$ | async">
      <div
        class="flex-auto overflow-hidden"
        fuseScrollbar
        [fuseScrollbarOptions]="{
          suppressScrollX: true
        }">
        <ng-container *ngFor="let cliente of searchResults$ | async">
          <div class="z-20 grid grid-cols-1 gap-4 border-b px-2 py-4 md:grid-cols-[1fr_minmax(auto,_200px)] md:px-10">
            <div class="grid grid-cols-2 gap-6 px-5 md:grid-cols-3 lg:w-5/6 lg:grid-cols-4">
              <div class="flex flex-col">
                <div class="font-bold">Nombre:</div>
                <div class="mt-2">{{ cliente.nombre }}</div>
              </div>
              <div class="flex flex-col">
                <div class="font-bold">Apellido Paterno:</div>
                <div class="mt-2">{{ cliente.apellidoPaterno }}</div>
              </div>
              <div class="flex flex-col">
                <div class="font-bold">Apellido Materno:</div>
                <div class="mt-2">{{ cliente.apellidoMaterno }}</div>
              </div>
              <div class="flex flex-col">
                <div class="font-bold">CURP:</div>
                <div class="mt-2">{{ cliente.curp }}</div>
              </div>
              <div class="flex flex-col">
                <div class="font-bold">RFC:</div>
                <div class="mt-2">{{ cliente.rfc }}</div>
              </div>
              <div class="flex flex-col">
                <div class="font-bold">Estatus:</div>
                <div class="mt-2">
                  {{ cliente.activo ? 'Activo' : 'Inactivo' }}
                </div>
              </div>
            </div>
            <div class="xsm:flex-col order-1 flex items-center justify-center sm:order-2 sm:ml-3">
              <button
                mat-icon-button
                aria-label="Créditos"
                #tooltip="matTooltip"
                matTooltip="Créditos"
                (click)="goToCreditos(cliente.id)"
                [matTooltipPosition]="'below'">
                <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
              </button>
              <button
                mat-icon-button
                aria-label="Editar cliente"
                #tooltip="matTooltip"
                (click)="editCliente(cliente.id)"
                matTooltip="Editar cliente"
                [matTooltipPosition]="'below'">
                <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
              </button>
              <button
                mat-icon-button
                aria-label="Inactivar cliente"
                (click)="cliente.activo ? inactivateClient(cliente.id) : activateClient(cliente.id)"
                #tooltip="matTooltip"
                matTooltip="{{ cliente.activo ? 'Inactivar cliente' : 'Activar cliente' }}"
                [matTooltipPosition]="'below'">
                <mat-icon
                  class="text-hint"
                  [svgIcon]="cliente.activo ? 'heroicons_outline:trash' : 'heroicons_outline:badge-check'"></mat-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
