<div class="flex flex-col flex-auto py-8 px-6">
    <div class="flex justify-between border-b pb-3">
        <h1 class="text-4xl font-extrabold tracking-tight leading-none">Nuevo Cliente</h1>
        <button
            mat-icon-button
            aria-label="Regresar"
            (click)="back()"
            #tooltip="matTooltip"
            matTooltip="Regresar"
            [matTooltipPosition]="'below'"
        >
            <mat-icon svgIcon="heroicons_outline:arrow-left"></mat-icon>
        </button>
    </div>
    <ng-container *ngIf="loading$ | async; then loadingTemplate; else formTemplate"></ng-container>
    <ng-template #loadingTemplate>
        <mat-spinner> </mat-spinner>
    </ng-template>
    <ng-template #formTemplate>
        <ng-container *ngIf="config$ | async as config">
            <div class="flex-auto flex flex-col">
                <div class="w-full">
                    <mat-stepper [linear]="true" #stepper>
                        <mat-step [stepControl]="clienteForm">
                            <!-- Form -->
                            <form [formGroup]="clienteForm">
                                <ng-template matStepLabel>Datos Generales</ng-template>
                                <div class="flex flex-wrap gap-3 w-full mt-8">
                                    <!-- Apellido Paterno -->
                                    <mat-form-field class="fuse-mat-no-subscript md:max-w-3/12 w-full">
                                        <mat-label>Apellido Paterno</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:user'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'apellidoPaterno'" matInput />
                                    </mat-form-field>
                                    <!-- Apellido Materno -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-3/12">
                                        <mat-label>Apellido Materno</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:user'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'apellidoMaterno'" matInput />
                                    </mat-form-field>
                                    <!-- Nombre -->
                                    <mat-form-field class="fuse-mat-no-subscript md:max-w-3/12 w-full">
                                        <mat-label>Nombre</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:user'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'nombre'" matInput />
                                    </mat-form-field>
                                    <!-- Fecha de Nacimiento -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:w-2/12">
                                        <mat-label>Fecha de Nacimiento</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:cake'"
                                        ></mat-icon>
                                        <input
                                            matInput
                                            [matDatepicker]="birthdayDatepicker"
                                            [formControlName]="'fechaDeNacimiento'"
                                            [placeholder]="'Fecha de Nacimiento'"
                                        />
                                        <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #birthdayDatepicker></mat-datepicker>
                                    </mat-form-field>
                                    <!-- Genero -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-1/6">
                                        <mat-label>Genero</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:library'"
                                            matPrefix
                                        ></mat-icon>
                                        <mat-select [formControlName]="'genero'">
                                            <mat-option *ngFor="let genero of config.generos" [value]="genero.id">{{
                                                genero.descripcion
                                            }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Estado Civil -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-1/6">
                                        <mat-label>Estado Civil</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:library'"
                                            matPrefix
                                        ></mat-icon>
                                        <mat-select [formControlName]="'estadoCivil'">
                                            <mat-option
                                                *ngFor="let estadoCivil of config.estadosCiviles"
                                                [value]="estadoCivil.id"
                                                >{{ estadoCivil.descripcion }}</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Tipo de Vivienda -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-1/6">
                                        <mat-label>Tipo de Vivienda</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:home'"
                                            matPrefix
                                        ></mat-icon>
                                        <mat-select [formControlName]="'tipoDeVivienda'">
                                            <mat-option
                                                *ngFor="let tipoDeVivienda of config.tiposDeVivienda"
                                                [value]="tipoDeVivienda.id"
                                                >{{ tipoDeVivienda.descripcion }}</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Escolaridad -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-1/6">
                                        <mat-label>Escolaridad</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:academic-cap'"
                                            matPrefix
                                        ></mat-icon>
                                        <mat-select [formControlName]="'escolaridad'">
                                            <mat-option
                                                *ngFor="let escolaridad of config.escolaridades"
                                                [value]="escolaridad.id"
                                                >{{ escolaridad.descripcion }}</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- CURP -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-72">
                                        <mat-label>CURP</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:document-text'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'curp'" matInput />
                                    </mat-form-field>
                                    <!-- RFC -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-64">
                                        <mat-label>RFC</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:document-text'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'rfc'" matInput />
                                    </mat-form-field>
                                    <!-- Teléfono 1 -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-64">
                                        <mat-label>Teléfono 1</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:phone'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'telefono1'" matInput />
                                    </mat-form-field>
                                    <!-- Teléfono 2 -->
                                    <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-64">
                                        <mat-label>Teléfono 2</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:phone'"
                                            matPrefix
                                        ></mat-icon>
                                        <input [formControlName]="'telefono2'" matInput />
                                    </mat-form-field>
                                    <h3 class="text-3xl font-extrabold tracking-tight leading-none flex-auto w-full">
                                        Direcciones
                                    </h3>
                                    <!-- Direcciones -->
                                    <div class="space-y-4 grid grid-cols-12" formArrayName="direcciones">
                                        <ng-container
                                            *ngFor="
                                                let direccion of direcciones.controls;
                                                let i = index;
                                                let first = first;
                                                let last = last;
                                                trackBy: trackByFn
                                            "
                                        >
                                            <div class="flex flex-wrap gap-3 w-full col-span-11">
                                                <!-- Calle -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-60
                                                        sm:
                                                        max-w-7/12
                                                        md:max-w-3/12
                                                    "
                                                >
                                                    <mat-label *ngIf="first">Calle</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('calle')"
                                                        [placeholder]="'Calle'"
                                                        [spellcheck]="false"
                                                    />
                                                </mat-form-field>
                                                <!-- Número -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-50
                                                        sm:max-w-4/12
                                                        md:max-w-2/12
                                                    "
                                                >
                                                    <mat-label *ngIf="first">Número</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('numero')"
                                                        [placeholder]="'Número'"
                                                    />
                                                </mat-form-field>
                                                <!-- Cruzamientos -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-60
                                                        sm:
                                                        max-w-7/12
                                                        md:max-w-3/12
                                                    "
                                                >
                                                    <mat-label *ngIf="first">Cruzamientos</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('cruzamientos')"
                                                        [placeholder]="'Cruzamientos'"
                                                    />
                                                </mat-form-field>
                                                <!-- Código Postal -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-50
                                                        sm:max-w-4/12
                                                        md:max-w-2/12
                                                    "
                                                >
                                                    <mat-label *ngIf="first">Código Postal</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('codigoPostal')"
                                                        [placeholder]="'Código Postal'"
                                                        (change)="
                                                            getColonias(
                                                                direccion.get('codigoPostal').value,
                                                                i,
                                                                'CLIENTE'
                                                            )
                                                        "
                                                    />
                                                </mat-form-field>
                                                <!-- Estado -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label *ngIf="first">Estado</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('estado')"
                                                        [placeholder]="'Estado'"
                                                    />
                                                </mat-form-field>
                                                <!-- Ciudad -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label *ngIf="first">Ciudad</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        [formControl]="direccion.get('ciudad')"
                                                        [placeholder]="'ciudad'"
                                                    />
                                                </mat-form-field>
                                                <!-- Colonia -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label *ngIf="first">Colonia</mat-label>
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                        matPrefix
                                                    ></mat-icon>
                                                    <mat-select
                                                        [formControl]="direccion.get('colonia')"
                                                        [compareWith]="compareColonias"
                                                    >
                                                        <mat-option
                                                            *ngFor="let colonia of ubicacion[i]?.ubicacion.colonias"
                                                            [value]="colonia.id"
                                                            >{{ colonia.descripcion }}</mat-option
                                                        >
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!-- Remover Dirección -->
                                            <ng-container *ngIf="!(first && last)">
                                                <div class="flex items-center w-10 pl-2" [ngClass]="{ 'mt-6': first }">
                                                    <button
                                                        class="w-8 h-8 min-h-8"
                                                        mat-icon-button
                                                        (click)="removeDireccionesField(i)"
                                                        matTooltip="Borrar"
                                                    >
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:trash'"
                                                        ></mat-icon>
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="w-full flex-auto">
                                        <div
                                            class="
                                                group
                                                inline-flex
                                                items-center
                                                mt-2
                                                -ml-4
                                                py-2
                                                px-4
                                                rounded
                                                cursor-pointer
                                            "
                                            (click)="addDireccionesField()"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:plus-circle'"
                                            ></mat-icon>
                                            <span class="ml-2 font-medium text-secondary group-hover:underline"
                                                >Agregar Dirección</span
                                            >
                                        </div>
                                    </div>
                                    <button
                                        class="ml-4"
                                        mat-flat-button
                                        type="button"
                                        [color]="'primary'"
                                        matStepperNext
                                        [disabled]="clienteForm.touched && clienteForm.invalid"
                                    >
                                        Siguiente
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="trabajoForm">
                            <ng-template matStepContent>
                                <!-- Form -->
                                <form [formGroup]="trabajoForm">
                                    <ng-template matStepLabel>Datos Laborales</ng-template>
                                    <div class="flex flex-wrap gap-3 w-full mt-8">
                                        <!-- Nombre -->
                                        <mat-form-field class="fuse-mat-no-subscript md:max-w-3/12 w-full">
                                            <mat-label>Nombre</mat-label>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:user'"
                                                matPrefix
                                            ></mat-icon>
                                            <input [formControlName]="'nombre'" matInput />
                                        </mat-form-field>
                                        <!-- Teléfono-->
                                        <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-64">
                                            <mat-label>Teléfono</mat-label>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:phone'"
                                                matPrefix
                                            ></mat-icon>
                                            <input [formControlName]="'telefono'" matInput />
                                        </mat-form-field>
                                        <!-- Antiguedad-->
                                        <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-50">
                                            <mat-label>Antiguedad (Años)</mat-label>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:clock'"
                                                matPrefix
                                            ></mat-icon>
                                            <input [formControlName]="'antiguedad'" matInput type="number" />
                                        </mat-form-field>
                                        <!-- Actividad Económica -->
                                        <mat-form-field class="fuse-mat-no-subscript w-full md:max-w-2/12">
                                            <mat-label>Actividad Económica</mat-label>
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:location-marker'"
                                                matPrefix
                                            ></mat-icon>
                                            <mat-select
                                                [formControlName]="'actividadEconomica'"
                                                (selectionChange)="selectActividadEconomica(actividadEconomica.value)"
                                            >
                                                <mat-option
                                                    *ngFor="let actividadEconomica of config.actividadesEconomicas"
                                                    [value]="actividadEconomica.id"
                                                    >{{ actividadEconomica.descripcion }}</mat-option
                                                >
                                            </mat-select>
                                        </mat-form-field>
                                        <h3
                                            class="text-3xl font-extrabold tracking-tight leading-none flex-auto w-full"
                                        >
                                            Dirección
                                        </h3>
                                        <!-- Dirección -->
                                        <div class="space-y-4 grid grid-cols-12">
                                            <div
                                                class="flex flex-wrap gap-3 w-full col-span-11"
                                                formGroupName="direccion"
                                            >
                                                <!-- Calle -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-60
                                                        sm:
                                                        max-w-7/12
                                                        md:max-w-3/12
                                                    "
                                                >
                                                    <mat-label>Calle</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        formControlName="calle"
                                                        [placeholder]="'Calle'"
                                                        [spellcheck]="false"
                                                    />
                                                </mat-form-field>
                                                <!-- Número -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-50
                                                        sm:max-w-4/12
                                                        md:max-w-2/12
                                                    "
                                                >
                                                    <mat-label>Número</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input matInput formControlName="numero" [placeholder]="'Número'" />
                                                </mat-form-field>
                                                <!-- Cruzamientos -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-60
                                                        sm:
                                                        max-w-7/12
                                                        md:max-w-3/12
                                                    "
                                                >
                                                    <mat-label>Cruzamientos</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        formControlName="cruzamientos"
                                                        [placeholder]="'Cruzamientos'"
                                                    />
                                                </mat-form-field>
                                                <!-- Código Postal -->
                                                <mat-form-field
                                                    class="
                                                        fuse-mat-no-subscript
                                                        w-full
                                                        xsm:max-w-50
                                                        sm:max-w-4/12
                                                        md:max-w-2/12
                                                    "
                                                >
                                                    <mat-label>Código Postal</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input
                                                        matInput
                                                        formControlName="codigoPostal"
                                                        [placeholder]="'Código Postal'"
                                                        (change)="getColonias(cpTrabajo.value, i, 'TRABAJO')"
                                                    />
                                                </mat-form-field>
                                                <!-- Estado -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label>Estado</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input matInput formControlName="estado" [placeholder]="'Estado'" />
                                                </mat-form-field>
                                                <!-- Ciudad -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label>Ciudad</mat-label>
                                                    <mat-icon
                                                        matPrefix
                                                        class="hidden sm:flex icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                    ></mat-icon>
                                                    <input matInput formControlName="ciudad" [placeholder]="'ciudad'" />
                                                </mat-form-field>
                                                <!-- Colonia -->
                                                <mat-form-field
                                                    class="fuse-mat-no-subscript w-full sm:max-w-2/5 md:max-w-3/12"
                                                >
                                                    <mat-label>Colonia</mat-label>
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                        matPrefix
                                                    ></mat-icon>
                                                    <mat-select formControlName="colonia">
                                                        <mat-option
                                                            *ngFor="let colonia of ubicacionTrabajo?.ubicacion.colonias"
                                                            [value]="colonia.id"
                                                            >{{ colonia.descripcion }}</mat-option
                                                        >
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="mt-2 w-full flex-auto">
                                            <button mat-stroked-button type="button" matStepperPrevious>
                                                Anterior
                                            </button>
                                            <button
                                                mat-flat-button
                                                type="button"
                                                [color]="'primary'"
                                                (click)="saveCliente()"
                                                class="ml-2"
                                                [disabled]="
                                                    (editMode === 'new' &&
                                                        !trabajoForm.touched &&
                                                        trabajoForm.invalid) ||
                                                    (clienteForm.disabled && trabajoForm.disabled)
                                                "
                                            >
                                                {{ editMode === 'edit' ? 'Actualizar' : 'Guardar' }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </mat-step>
                    </mat-stepper>
                </div>
            </div>
        </ng-container>
    </ng-template>
</div>
