<ng-container *ngIf="loading$ | async; then loadingTemplate; else dataTemplate"></ng-container>
<ng-template #loadingTemplate>
    <div class="flex flex-col flex-auto self-center"><mat-spinner> </mat-spinner></div>
</ng-template>
<ng-template #dataTemplate>
    <ng-container *ngIf="(clientesCount$ | async) > 0; else noClientesTemplate">
        <ng-container *ngIf="(turnosCount$ | async) > 0; else noCajasTemplate">
            <div
                class="absolute inset-0 flex flex-col min-w-0 overflow-hidden"
                *ngIf="{ creditos: creditos$ | async, creditosCount: creditosCount$ | async } as data"
            >
                <!-- Header -->
                <div class="flex flex-col py-8 px-6 md:px-8 border-b md:max-h-56">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Créditos</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="data.creditosCount > 0">
                                {{ data.creditosCount | number }}
                            </ng-container>
                            {{
                                data.creditosCount
                                    | i18nPlural
                                        : {
                                              '=0': 'Sin créditos',
                                              '=1': 'crédito',
                                              other: 'créditos'
                                          }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex flex-col items-center gap-4 mt-4 flex-auto">
                        <!-- Search -->
                        <div class="w-full" *ngIf="data.creditosCount > 0">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInput"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Buscar crédito'"
                                />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-auto flex-col md:flex-row gap-4 items-center">
                            <!-- Active or Innactive ones -->
                            <mat-radio-group
                                aria-labelledby="radio-group-label"
                                class="grid grid-cols-3 gap-3 justify-items-center"
                                [(ngModel)]="status"
                                *ngIf="data.creditosCount > 0"
                            >
                                <mat-radio-button
                                    *ngFor="let value of values"
                                    [value]="value.value"
                                    (change)="changeFilter($event)"
                                >
                                    {{ value.display }}
                                </mat-radio-button>
                            </mat-radio-group>
                            <!-- Add cliente button -->
                            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openNewCredito()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Agregar</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div
                    class="flex-auto overflow-hidden"
                    fuseScrollbar
                    [fuseScrollbarOptions]="{
                        wheelPropagation: inner,
                        suppressScrollX: true
                    }"
                >
                    <ng-container *ngFor="let credito of data.creditos">
                        <div
                            class="z-20 grid grid-cols-1 gap-4 md:grid-cols-[1fr_minmax(auto,_200px)] px-2 py-4 md:px-10 border-b"
                        >
                            <div class="grid px-5 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 lg:w-5/6">
                                <div class="flex flex-col">
                                    <div class="font-bold">Nombre del Cliente:</div>
                                    <div class="mt-2">
                                        {{ credito.cliente.nombre }} {{ credito.cliente.apellidoPaterno }}
                                        {{ credito.cliente.apellidoMaterno }}
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">CURP:</div>
                                    <div class="mt-2">
                                        {{ credito.cliente.curp }}
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">RFC:</div>
                                    <div class="mt-2">
                                        {{ credito.cliente.rfc }}
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Producto Otorgado:</div>
                                    <div class="mt-2">{{ credito.producto.nombre }}</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Monto Otorgado:</div>
                                    <div class="mt-2">{{ credito.monto | currency: 'MXN':'symbol' }}</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Fecha de Desembolso:</div>
                                    <div class="mt-2">{{ credito.fechaDesembolso | date }}</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Pagos Realizados:</div>
                                    <div class="mt-2">{{ credito.pagos.length }}</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Estado:</div>
                                    <div class="mt-2">{{ credito.status }}</div>
                                </div>
                            </div>
                            <div class="order-1 sm:order-2 sm:ml-3 xsm:flex-col flex justify-center items-center">
                                <button
                                    mat-icon-button
                                    aria-label="Detalle"
                                    #tooltip="matTooltip"
                                    matTooltip="Detalle"
                                    [matTooltipPosition]="'below'"
                                    (click)="goToDetails(credito.id)"
                                >
                                    <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    aria-label="Inactivar Credito"
                                    #tooltip="matTooltip"
                                    matTooltip="{{
                                        credito.status === 'ABIERTO' || 'MORA' ? 'Inactivar Credito' : 'Activar Credito'
                                    }}"
                                    [matTooltipPosition]="'below'"
                                >
                                    <mat-icon
                                        class="text-hint"
                                        [svgIcon]="
                                            credito.status === 'ABIERTO' || 'MORA'
                                                ? 'heroicons_outline:trash'
                                                : 'heroicons_outline:badge-check'
                                        "
                                    ></mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #noClientesTemplate>
        <div class="flex flex-row mt-5 items-center justify-center w-full">
            <div class="font-bold">No existen clientes para otorgar créditos</div>
            <!-- Add cliente button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="newCliente()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>
    </ng-template>

    <ng-template #noCajasTemplate>
        <div class="flex flex-row mt-5 items-center justify-center w-full">
            <div class="font-bold">No existen turnos para otorgar créditos</div>
            <!-- Add turno button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="newCaja()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>
    </ng-template>
</ng-template>
