<ng-container *ngIf="loading$ | async; then loadingTemplate; else dataTemplate"></ng-container>
<ng-template #loadingTemplate>
    <div class="flex flex-col flex-auto self-center"><mat-spinner> </mat-spinner></div>
</ng-template>
<ng-template #dataTemplate>
    <ng-container *ngIf="actions$ | async">
        <div class="w-full flex flex-col">
            <!-- Add team member -->
            <div class="w-full">
                <div class="flex flex-col gap-3">
                    <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'">
                        <mat-label>Buscar Sucursal</mat-label>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:office-building'"
                            matPrefix
                        ></mat-icon>
                        <input matInput [autocomplete]="'off'" [placeholder]="'Nombre'" [formControl]="searchInput" />
                        <button
                            mat-icon-button
                            matSuffix
                            aria-label="Crear sucursal"
                            #tooltip="matTooltip"
                            matTooltip="Crear sucursal"
                            [matTooltipPosition]="'below'"
                            (click)="openNewSucursal()"
                        >
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- Active or Innactive ones -->
                    <mat-radio-group
                        aria-labelledby="radio-group-label"
                        class="flex flex-row gap-3 items-center justify-center"
                        [(ngModel)]="activa"
                    >
                        <mat-radio-button
                            *ngFor="let value of values"
                            [value]="value.value"
                            (change)="changeActiva($event)"
                        >
                            {{ value.display }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- Content -->
                <div class="flex-auto mt-8">
                    <ng-container *ngFor="let sucursal of searchResults$ | async">
                        <div class="z-20 flex px-2 py-4 md:px-10 border-b justify-between">
                            <div class="grid grid-cols-2 gap-2 md:gap-6 min-w-1/3">
                                <div class="flex flex-col">
                                    <div class="font-bold">Nombre:</div>
                                    <div class="mt-2">{{ sucursal.nombre }}</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">Telefono:</div>
                                    <div class="mt-2">
                                        ({{ sucursal.telefono | slice: 0:3 }})-{{ sucursal.telefono | slice: 3:6 }}-{{
                                            sucursal.telefono | slice: 6:8
                                        }}-{{ sucursal.telefono | slice: 8:10 }}
                                    </div>
                                </div>
                            </div>
                            <div class="order-1 sm:order-2 sm:ml-3 xsm:flex-col flex justify-center items-center">
                                <button
                                    mat-icon-button
                                    aria-label="Editar sucursal"
                                    #tooltip="matTooltip"
                                    matTooltip="Editar sucursal"
                                    [matTooltipPosition]="'below'"
                                    (click)="editSucursal(sucursal.id)"
                                >
                                    <mat-icon
                                        class="text-hint"
                                        [svgIcon]="'heroicons_outline:clipboard-list'"
                                    ></mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    aria-label="Inhabilitar sucursal"
                                    (click)="sucursal.activa ? deleteSucursal(sucursal) : activateSucursal(sucursal)"
                                    #tooltip="matTooltip"
                                    matTooltip="{{ sucursal.activa ? 'Inactivar sucursal' : 'Activar sucursal' }}"
                                    [matTooltipPosition]="'below'"
                                >
                                    <mat-icon
                                        class="text-hint"
                                        [svgIcon]="
                                            sucursal.activa
                                                ? 'heroicons_outline:trash'
                                                : 'heroicons_outline:badge-check'
                                        "
                                    ></mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
