<ng-container *ngIf="false; then loadingTemplate; else dataTemplate"></ng-container>
<ng-template #loadingTemplate>
    <mat-spinner> </mat-spinner>
</ng-template>
<ng-template #dataTemplate>
    <ng-container *ngIf="actions$ | async">
        <div class="w-full flex flex-col">
            <!-- Add team member -->
            <div class="w-full">
                <div class="flex flex-col gap-3">
                    <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'">
                        <mat-label>Buscar Producto:</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:view-boards'" matPrefix></mat-icon>
                        <input
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Nombre del Producto'"
                            [formControl]="searchInput"
                        />
                        <button
                            mat-icon-button
                            matSuffix
                            aria-label="Crear producto"
                            #tooltip="matTooltip"
                            matTooltip="Crear producto"
                            [matTooltipPosition]="'below'"
                            (click)="newProducto()"
                        >
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- Active or Innactive ones -->
                    <mat-radio-group
                        aria-labelledby="radio-group-label"
                        class="flex flex-row gap-3 items-center justify-center"
                        [(ngModel)]="activo"
                    >
                        <mat-radio-button
                            *ngFor="let value of values"
                            [value]="value.value"
                            (change)="changeActivo($event)"
                        >
                            {{ value.display }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- Content -->
                <div class="flex-auto mt-8">
                    <ng-container *ngIf="searchResults$ | async as productos">
                        <ng-container *ngIf="productos.length > 0; else noProducts">
                            <ng-container *ngFor="let producto of productos">
                                <div class="grid grid-cols-1 z-20 md:flex px-8 py-4 md:px-10 border-b justify-between">
                                    <div class="grid grid-cols-2 md:flex md:flex-row gap-6 xsm:flex-wrap sm:flex-wrap">
                                        <div class="flex flex-col">
                                            <div class="font-bold">Nombre:</div>
                                            <div class="mt-2">{{ producto.nombre }}</div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="font-bold">Tasa de Interes:</div>
                                            <div class="mt-2 md:text-center">{{ producto.interes }} %</div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="font-bold">Duración:</div>
                                            <div class="mt-2 md:text-center">{{ producto.duracion }} Días</div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="font-bold">Monto Minimo:</div>
                                            <div class="mt-2 md:text-center">
                                                {{ producto.montoMinimo | currency: 'MXN':'symbol':'4.2-2' }}
                                            </div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="font-bold">Monto Maximo:</div>
                                            <div class="mt-2 md:text-center">
                                                {{ producto.montoMaximo | currency: 'MXN':'symbol':'4.2-2' }}
                                            </div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="font-bold">Descripción:</div>
                                            <div class="mt-2">
                                                {{ producto.descripcion }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="xsm:mt-4 sm:mt-4 sm:ml-3 flex justify-center items-center">
                                        <button
                                            mat-icon-button
                                            aria-label="Editar producto"
                                            #tooltip="matTooltip"
                                            matTooltip="Editar producto"
                                            [matTooltipPosition]="'below'"
                                            (click)="editProducto(producto.id)"
                                        >
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:clipboard-list'"
                                            ></mat-icon>
                                        </button>
                                        <button
                                            mat-icon-button
                                            aria-label="Desactivar producto"
                                            #tooltip="matTooltip"
                                            matTooltip="Desactivar producto"
                                            [matTooltipPosition]="'below'"
                                            (click)="deleteProducto(producto)"
                                        >
                                            <mat-icon
                                                class="text-hint"
                                                [svgIcon]="'heroicons_outline:trash'"
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #noProducts>
                            <div *ngIf="activo">
                                No existen productos disponibles, agregar uno utilizando el botón +
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
